<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Add Category</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
  <div class="container mt-5">
    <h2 class="text-center mb-4">Add</h2>
    <form name="addCategoryForm" method="post" enctype="multipart/form-data" class="p-4 bg-white rounded shadow-sm"
      action="{% url 'save_category' %}" onsubmit="return validateForm()">
      {% csrf_token %}
      <div class="row mb-3">
        <div class="col">
          <label>Category Name</label>
          <input id="name" type="text" name="name" class="form-control" required>
        </div>
        <div class="col">
          <label>Description</label>
          <textarea id="dcpn" name="dcpn" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
          <label>Cover Image</label>
          <input id="img" type="file" name="img" class="form-control">
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100">Add</button>
    </form>
  </div>

<!--  <script>-->
<!--    function validateForm() {-->
<!--      let name = document.addCategoryForm.name.value;-->
<!--      let dcpn = document.addCategoryForm.dcpn.value;-->

<!--      if (name == "" || name == null) {-->
<!--        alert("Category name must be filled out");-->
<!--        return false;-->
<!--      }-->
<!--      else if (dcpn == "" || dcpn == null) {-->
<!--        alert("Description must be filled out");-->
<!--        return false;-->
<!--      }-->
<!--      alert("Category added successfully!");-->
<!--      return true;-->
<!--    }-->
<!--  </script>-->

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  {% if messages %}
      {% for i in messages %}
          {% if i.tags == 'success' %}
            <script>
              swal(
              '{{i}}','','success'
              )
            </script>
          {% elif i.tags == 'warning' %}
            <script>
              swal(
              '{{i}}','','warning'
              )
            </script>
          {% elif i.tags == 'info' %}
            <script>
              swal(
              '{{i}}','','info'
              )
            </script>
          {% else %}
            <script>
              swal(
              '{{i}}','','error'
              )
            </script>
          {% endif %}
      {% endfor %}
  {% endif %}


</body>

</html>
{% endblock %}